<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MTA - Real-time Subway</title>
    <meta name="Description" content="Get real time MTA subway times">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#223266">
    <link rel="icon" type="image/png" href="/mta/static/icons-48.png">
    <link rel="apple-touch-icon" sizes="48x48" href="/mta/static/icons-48.png">
    <link rel="apple-touch-icon" sizes="96x96" href="/mta/static/icons-96.png">
    <link rel="apple-touch-icon" sizes="192x192" href="/mta/static/icons-192.png">
    <link rel="manifest" href="/mta/manifest.json">
  </head>
  <body>
    <h1><a href="/mta">MTA Subway Time</a></h1>